<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Librería</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- <link rel="manifest" href="site.webmanifest">-->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="dist/css/bootstrap.css">
  <script src="catalib.js"></script>
  <!--  <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">-->
  <script src="https://kit.fontawesome.com/99b321a709.js" crossorigin="anonymous"></script>
  <meta name="theme-color" content="#fafafa">
</head>
<body onload="cambiarf()">
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="index.html" class="navbar-brand mb-0 h1">
      Librería <!--<i class="navbar-brand-icon fas fa-exclamation ml-1"></i>-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Inicio</a>
        </li>
        <!-- {% if user.is_authenticated %}-->
        <li class="nav-item">
          <a class="nav-link" href="libros.html">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carrito.html">Cuenta</a>
        </li>
        <!--  {% endif %}-->
        <li class="nav-item">
          <a class="nav-link" href="info.html">Acerca de</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<script>


  function cambiarf(){
    // document.getElementById("terror").innerHTML="Te cambie"
  //  var query=location.search.substring(1);
   // console.log(query);
   // var myvariable= window.opener.comando;
    console.log(myvariable);
    console.log(myvariable2);
    for(let i in terror)
    {

      if(terror[i].titulo==myvariable2)
      {
       // alert("Si esta en terror");
       // console.log(terror[i].titulo);
        if(i==myvariable)
        {
          let libro = document.createElement("div");
          libro.style.cssText='float:left; text-align:center';
          //libro.className="tam";
          libro.style="height:40%; width: 30%; float:left;"
          let imagen = document.createElement("img");
          imagen.srcset=terror[i].imagen;
          imagen.style="height:auto; max-width:60%";

          let titulo = document.createElement("div");
          titulo.textContent=terror[i].titulo;
          titulo.style.cssText='font-weight:bold';

          let autor = document.createElement("p");
          autor.textContent=terror[i].autor;
          autor.style.cssText='font-weight:normal ';

          let editorial=document.createElement("p");
          editorial.textContent="Editorial: "+terror[i].editorial;
          editorial.style.cssText='font-weight:normal ';

          let precio= document.createElement("p");
          precio.textContent="$"+terror[i].costo;

          let sinopsis = document.createElement("p");
          sinopsis.textContent=terror[i].sinopsis;
          sinopsis.style.cssText='text-align: justify';



          libro.appendChild(imagen);
          libro.appendChild(titulo);
          libro.appendChild(autor);
          libro.appendChild(editorial);
          libro.appendChild(precio);
          libro.appendChild(sinopsis);
          let ele= document.getElementById("info");
          ele.appendChild(libro);

          var val=Number(terror[i].costo)
          initPayPalButton(val);
        }
      }
      else {
       // alert("No esta en terror");
       // console.log(terror[i].titulo);
      }


    }
    for(let i in finanzas)
    {

      if(finanzas[i].titulo==myvariable2)
      {
        if(i==myvariable)
        {
          let libro = document.createElement("div");
          libro.style.cssText='float:left; text-align:center';
          //libro.className="tam";
          libro.style="height:40%; width: 30%; float:left;"
          let imagen = document.createElement("img");
          imagen.srcset=finanzas[i].imagen;
          imagen.style="height:auto; max-width:60%";

          let titulo = document.createElement("div");
          titulo.textContent=finanzas[i].titulo;
          titulo.style.cssText='font-weight:bold';

          let autor = document.createElement("p");
          autor.textContent=finanzas[i].autor;
          autor.style.cssText='font-weight:normal ';

          let editorial=document.createElement("p");
          editorial.textContent="Editorial: "+finanzas[i].editorial;
          editorial.style.cssText='font-weight:normal ';


          let precio= document.createElement("p");
          precio.textContent="$"+finanzas[i].costo;

          let sinopsis = document.createElement("p");
          sinopsis.textContent=finanzas[i].sinopsis;
          sinopsis.style.cssText='text-align: justify';


          libro.appendChild(imagen);
          libro.appendChild(titulo);
          libro.appendChild(autor);
          libro.appendChild(editorial);
          libro.appendChild(precio);
          libro.appendChild(sinopsis);
          let ele= document.getElementById("info");
          ele.appendChild(libro);

          var val=Number(finanzas[i].costo)
          initPayPalButton(val);
        }
       // alert("Si esta en Finanzas");
       // console.log(finanzas[i].titulo);
      }
      else {
      //  alert("No esta en finanzas");
      //  console.log(finanzas[i].titulo);
      }


    }
    for(let i in autoayuda)
    {

      if(autoayuda[i].titulo==myvariable2)
      {
       // alert("Si esta en autoayuda");
       // console.log(autoayuda[i].titulo);
        if(i==myvariable)
        {
          let libro = document.createElement("div");
          libro.style.cssText='float:left; text-align:center';
          //libro.className="tam";
          libro.style="height:40%; width: 30%; float:left;"
          let imagen = document.createElement("img");
          imagen.srcset=autoayuda[i].imagen;
          imagen.style="height:auto; max-width:60%";

          let titulo = document.createElement("div");
          titulo.textContent=autoayuda[i].titulo;
          titulo.style.cssText='font-weight:bold';

          let autor = document.createElement("p");
          autor.textContent=autoayuda[i].autor;
          autor.style.cssText='font-weight:normal ';

          let editorial=document.createElement("p");
          editorial.textContent="Editorial: "+autoayuda[i].editorial;
          editorial.style.cssText='font-weight:normal ';


          let precio= document.createElement("p");
          precio.textContent="$"+autoayuda[i].costo;

          let sinopsis = document.createElement("p");
          sinopsis.textContent=autoayuda[i].sinopsis;
          sinopsis.style.cssText='text-align: justify';


          libro.appendChild(imagen);
          libro.appendChild(titulo);
          libro.appendChild(autor);
          libro.appendChild(editorial);
          libro.appendChild(precio);
          libro.appendChild(sinopsis);
          let ele= document.getElementById("info");
          ele.appendChild(libro);

          var val=Number(autoayuda[i].costo)
          initPayPalButton(val);
        }
      }
      else {
     //   alert("No esta en autoayuda");
        //console.log(autoayuda[i].titulo);
      }


    }
  }




</script>



<div class="container my-5" id="info">




</div>
<div id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AZTQ3nNGpBTAo3WZRjFR3XOvqJ6DLZeilKP0GZcgKamcRM20ESo7y2dd28VjJqjzHYB8a8qBoVo7MlcW&currency=MXN" data-sdk-integration-source="button-factory"></script>
<script>
  function initPayPalButton(valor) {
    paypal.Buttons({
      style: {
        shape: 'rect',
        color: 'black',
        layout: 'vertical',
        label: 'paypal',

      },

      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{"description":"Libro","amount":{"currency_code":"MXN","value":valor}}]
        });
      },

      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {

          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Gracias Por Su Compra!</h3>';
          //window.location.href = "index.html";
          //onclick = "return false;"
          //actions.redirect("/VentaLibros/libros.html");
          // Or go to another URL:  actions.redirect('thank_you.html');
          actions.redirect("libros.html");

        });
      },

      onError: function(err) {
        console.log(err);
        const element = document.getElementById('paypal-button-container');
        element.innerHTML = '';
        element.innerHTML = '<h3>Fallo!</h3>';
        actions.redirect("libros.html");
      }
    }).render('#paypal-button-container');
  }
  // initPayPalButton();
</script>
<div class="container my-5">

</div>
<footer class="text-center">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4YWL3SEXMWXJJ">
    <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1" >
  </form>

</footer>
</body>
</html>
