<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Librería</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- <link rel="manifest" href="site.webmanifest">-->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="dist/css/bootstrap.css">
  <!--  <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">-->
  <script src="https://kit.fontawesome.com/99b321a709.js" crossorigin="anonymous"></script>
  <meta name="theme-color" content="#fafafa">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="index.html" class="navbar-brand mb-0 h1">
      Librería <!--<i class="navbar-brand-icon fas fa-exclamation ml-1"></i>-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Inicio</a>
        </li>
        <!-- {% if user.is_authenticated %}-->
        <li class="nav-item">
          <a class="nav-link" href="libros.html">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carrito.html">Cuenta</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="provedores.html">Proveedores</a>
        </li>-->
        <!--  {% endif %}-->
        <li class="nav-item">
          <a class="nav-link" href="info.html">Acerca de</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!--<div>
  <h1 class="display-3">Libreria Chacon</h1>

</div>
<div class="navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">Libros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">Cuenta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">Información</a>
    </li>
  </ul>
</div>-->
<!--<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">Crear publicación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">Información</a>
    </li>
  </ul>
</div>-->
<!--
<div>
  <button type="button" class="btn btn-primary"> Inicio</button>
</div>-->
<!-- Add your site or application content here -->
<!--<p>Hola amigos esta es una prueba.</p>-->
<div class="container my-5">
  <h3 class="text-center all-tittles">Inicio fallido</h3>
  <h2 class="text-center"><i class="far fa-sad-cry"></i><br><br>Lo sentimos, no hemos encontrado ningúna cuenta con los <strong>datos</strong> ingresados en el sistema</h2>
  <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
        </div>
      </div>
    </div>
  </div>

</div>


<footer class="text-center bg-light p-3">
  <strong>Librerías Chacon&copy;2021</strong>
</footer>

<!--<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>-->
<script src="dist/js/jquery.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="dist/js/jquery-confirm.min.js"></script>
<script src="dist/js/functions.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>

</body>

</html>
