<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Librería</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

 <!-- <link rel="manifest" href="site.webmanifest">-->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="dist/css/bootstrap.css">
<!--  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">-->
  <script src="https://kit.fontawesome.com/99b321a709.js" crossorigin="anonymous"></script>
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="index.html" class="navbar-brand mb-0 h1">
        Librería <!--<i class="navbar-brand-icon fas fa-exclamation ml-1"></i>-->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio</a>
          </li>
         <!-- {% if user.is_authenticated %}-->
          <li class="nav-item">
            <a class="nav-link" href="libros.html">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="carrito.html">Cuenta</a>
          </li>
        <!--  <li class="nav-item">
            <a class="nav-link" href="provedores.html">Proveedores</a>
          </li>-->
          <!--  {% endif %}-->
           <li class="nav-item">
             <a class="nav-link" href="info.html">Acerca de</a>
           </li>
         </ul>
       </div>
    </nav>
   </header>
   <!--<div>
     <h1 class="display-3">Libreria Chacon</h1>

   </div>
   <div class="navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
       <li class="nav-item">
         <a class="nav-link" href="index.html">Inicio</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="index.html">Libros</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="index.html">Cuenta</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="index.html">Información</a>
       </li>
     </ul>
   </div>-->
 <!--<div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
     <li class="nav-item">
       <a class="nav-link" href="index.html">Inicio</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="index.html">Crear publicación</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="index.html">Usuarios</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="index.html">Información</a>
     </li>
   </ul>
 </div>-->
  <!--
  <div>
    <button type="button" class="btn btn-primary"> Inicio</button>
  </div>-->
  <!-- Add your site or application content here -->
  <!--<p>Hola amigos esta es una prueba.</p>-->
  <div class="container my-5">
    <!--{% block container %}
    {% endblock %}-->
    <strong>Grandes Descuentos</strong><br/>
    <a href="libros.html"><img class="media-object" src="https://www.gonvill.com.mx/images/banners/063-es-gratis199.jpg" alt="Descuentos">
    <img class="foto" src="https://www.gonvill.com.mx/images/banners/182-es-boton-schoolshop.jpg" alt=""></a>
  </div>
  <div class="container my-5">
    <strong>Los mas vendidos</strong>
    <p>No pueden faltar en tu colección
    </p>
    <a href="libros.html"><img class="media-object" src="https://www.gonvill.com.mx/imagenes/9786073/978607310552.JPG" alt="" width="250"
                               height="300">
      <img class="foto" src="https://www.gonvill.com.mx/imagenes/9786071/978607110784.JPG" alt="" width="250"
           height="300"></a>

    <a href="libros.html"><img class="media-object" src="https://www.gonvill.com.mx/imagenes/9786073/978607319660.JPG" alt="" width="250"
                               height="300">
      <img class="foto" src="https://www.gonvill.com.mx/imagenes/9786074/978607457413.JPG" alt="" width="250"
           height="300"></a>

  </div>
  <div class="container my-5" id="info">
    <!-- style="height:60%; width: 50%" -->


  </div>


  <footer class="text-center bg-light p-3">
    <strong>Librerías Chacon&copy;2021</strong>
  </footer>

  <!--<script src="js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>-->
  <script src="dist/js/jquery.min.js"></script>
  <script src="dist/js/bootstrap.min.js"></script>
  <script src="dist/js/jquery-confirm.min.js"></script>
  <script src="dist/js/functions.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>

</body>

</html>
<!--
Credenciales
correoficticio2808@gmail.com
ficticio1234
-->
