<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Librería</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- <link rel="manifest" href="site.webmanifest">-->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="dist/css/bootstrap.css">
  <!--  <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">-->
  <script src="https://kit.fontawesome.com/99b321a709.js" crossorigin="anonymous"></script>
  <meta name="theme-color" content="#fafafa">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="index.html" class="navbar-brand mb-0 h1">
      Librería <!--<i class="navbar-brand-icon fas fa-exclamation ml-1"></i>-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Inicio</a>
        </li>
        <!-- {% if user.is_authenticated %}-->
        <li class="nav-item">
          <a class="nav-link" href="libros.html">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carrito.html">Cuenta</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="provedores.html">Proveedores</a>
        </li>-->
        <!--  {% endif %}-->
        <li class="nav-item">
          <a class="nav-link" href="info.html">Acerca de</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container my-5">
  <strong>Librerías Chacon</strong>

</div>
<div class="container my-5">
  <strong>Objetivo</strong>
  <p>Ofrecer libros para todo publico.
  </p>

</div>
<div class="container my-5">
  <strong>Misión</strong>
  <p>
    Posicionarnos como la tienda de libros preferida.
  </p>

</div>
<div class="container my-5">
  <strong>Visión</strong>
  <p> Que cuando la gente piense en libros, piense en nosotros.
  </p>

</div>
<div class="container my-5">
  <strong>Ubicación</strong>
  <p>Blvd. Gral. Marcelino García Barragán 1421, Olímpica, 44430 Guadalajara, Jal.
  </p>
  <a href="https://goo.gl/maps/2Cyrtmo48prYiSSx9" target="_blank"><img alt="Imagen simbolo maps" src="https://i.imgur.com/rJuUnYn.png" width="120"
                                                                       height="120"

  ></a>

</div>
<div class="container my-5">
  <strong>Contacto</strong>
  <p>Redes sociales
  </p>
  <a href="https://es-la.facebook.com/udgcucei/" target="_blank"><img alt="Imagen simbolo facebook" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" width="120"
                                                                       height="120"

  ></a>
</div>
<footer class="text-center bg-light p-3">
  <strong>Librerías Chacon&copy;2021</strong>
</footer>
</body>

</html>
