<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Librería</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- <link rel="manifest" href="site.webmanifest">-->
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="dist/css/bootstrap.css">
  <link rel="stylesheet" href="dist/css/sweet-alert.css">
  <!--<link rel="stylesheet" href="dist/css/material-design-iconic-font.min.css">-->
  <link rel="stylesheet" href="dist/css/normalize.css">
  <script src="https://kit.fontawesome.com/99b321a709.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="dist/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="dist/css/style.css">
  <script src="dist/js/sweet-alert.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="dist/js/modernizr.js"></script>
  <script src="dist/js/bootstrap.min.js"></script>
  <script src="dist/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="dist/js/main.js"></script>
  <script src="catalib.js"></script>
  <!--  <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">-->

  <meta name="theme-color" content="#fafafa">
</head>

<body >
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="index.html" class="navbar-brand mb-0 h1">
      Librería <!--<i class="navbar-brand-icon fas fa-exclamation ml-1"></i>-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Inicio</a>
        </li>
        <!-- {% if user.is_authenticated %}-->
        <li class="nav-item">
          <a class="nav-link" href="libros.html">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carrito.html">Cuenta</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="provedores.html">Proveedores</a>
        </li>-->
        <!--  {% endif %}-->
        <li class="nav-item">
          <a class="nav-link" href="info.html">Acerca de</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container my-5">
  <ul class="list-unstyled full-reset">
    <li  class="tooltips-general search-book-button" data-href="busqueda.html" data-placement="bottom" title="Buscar libro">
      <i class="fas fa-search"></i>
    </li>
  </ul>
</div>

<div class="container my-5">
  <div class="container my-5">
    <h1 class="all-tittles">Sistema Librería <small>Catálogo de libros</small></h1>
  </div>
</div>
<div class="container my-5"  >
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-4 col-md-3">
       <img src="https://us.123rf.com/450wm/konturvid/konturvid1210/konturvid121000060/15915005-viejo-libro-abierto-en-blanco-con-la-ilustraci%C3%B3n-vectorial-hojas-aisladas-sobre-fondo-blanco.jpg?ver=6" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
     </div>-->
    <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
      Bienvenido al catálogo, selecciona una categoría de la lista para empezar, si deseas buscar un libro por nombre o título has click en el icono &nbsp;  <i class="fas fa-search"></i> &nbsp; que se encuentra en la parte superior
    </div>
  </div>
</div>

<div class="container-fluid" style="margin: 0 0 50px 0;">
  <h2 class="text-center" style="margin: 0 0 25px 0;">Categorías</h2>
  <ul class="list-unstyled text-center list-catalog-container">
    <li id="terror" class="list-catalog">Terror</li>
    <li id="finanzas" class="list-catalog">Finanzas</li>
    <li  id="autoayuda" class="list-catalog">Autoayuda</li>
    <!--<h1 id="titulo"> Queridos amigos</h1>
    <button id="boton" class="list-catalog">Autoayuda</button>-->
  </ul>
</div>
<script>

  function limpiar()
  {
    document.getElementById("info").innerHTML=""

  }

</script>


<script>

  function limpiar2()
  {
    //document.getElementById("smart-button-container").innerHTML="";
   // document.getElementById("paypal-button-container").innerHTML="";
   // document.getElementById("paypal").innerHTML="";
    var x = document.getElementById("smart-button-container");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }


  }

</script>

<script>

  function limpiar3()
  {
    document.getElementById("smart-button-container").innerHTML="";
    // document.getElementById("paypal-button-container").innerHTML="";
    // document.getElementById("paypal").innerHTML="";


  }

</script>

<script>

  function mostrar(valor)
  {

    initPayPalButton(valor);

    //document.getElementById("smart-button-container").innerHTML="";
    // document.getElementById("paypal-button-container").innerHTML="";
    // document.getElementById("paypal").innerHTML="";


  }

</script>



<script>

  function cambiart(){
   // document.getElementById("terror").innerHTML="Te cambie"
    for(let i in terror)
    {
      let libro = document.createElement("div");
      libro.style.cssText='float:left; text-align:center';
      //libro.className="tam";
      libro.style="height:40%; width: 30%; float:left; "

      let imagen = document.createElement("img");
      imagen.srcset=terror[i].imagen;
      imagen.style="height:350px; width:250px";

      let titulo = document.createElement("div");
      titulo.textContent=terror[i].titulo;
      titulo.style.cssText='font-weight:bold;';

      let precio= document.createElement("p");
      precio.textContent="$"+terror[i].costo;

      const button=document.createElement('button');
      button.type='button';
      button.className="btn btn-primary"
      button.innerText="Detalles";
      button.setAttribute("id","idPrueba");



      libro.appendChild(imagen);
      libro.appendChild(titulo);
      libro.appendChild(precio);
      libro.appendChild(button);
      let ele= document.getElementById("info");
      ele.appendChild(libro);
      button.onclick = function () {
        var comando=i;
        console.log(i);
        comprobador=i;
        var titl=terror[i].titulo;
        console.log(comando)
        console.log(titl)
        //window.location.href = "detalle.html";
        // window.open("detalle.html?comando="+comando);
        var w=window.open("detalle.html");
        w.myvariable= comando;
        w.myvariable2=titl;

      }


    }
  }

    document.getElementById("terror").onclick=function (){
      limpiar();
      cambiart();


    }

</script>

<script>


  function cambiarf(){
    // document.getElementById("terror").innerHTML="Te cambie"
    for(let i in finanzas)
    {
      let libro = document.createElement("div");
      libro.style.cssText='float:left; text-align:center';
      //libro.className="tam";
      libro.style="height:40%; width: 30%; float:left;"
      let imagen = document.createElement("img");
      imagen.srcset=finanzas[i].imagen;
      imagen.style="height:300px; width:250px";

      let titulo = document.createElement("div");
      titulo.textContent=finanzas[i].titulo;
      titulo.style.cssText='font-weight:bold';

      let precio= document.createElement("p");
      precio.textContent="$"+finanzas[i].costo;

      const button=document.createElement('button');
      button.type='button';
      button.className="btn btn-primary"
      button.innerText="Detalles";
      button.setAttribute("id","idPrueba");

      libro.appendChild(imagen);
      libro.appendChild(titulo);
      libro.appendChild(precio);
      libro.appendChild(button);
      let ele= document.getElementById("info");
      ele.appendChild(libro);
      button.onclick = function () {
        var comando=i;
        console.log(i);
        comprobador=i;
        var titl=finanzas[i].titulo;
        console.log(comando)
        console.log(titl)
        //window.location.href = "detalle.html";
        // window.open("detalle.html?comando="+comando);
        var w=window.open("detalle.html");
        w.myvariable= comando;
        w.myvariable2=titl;

      }


    }
  }

    document.getElementById("finanzas").onclick=function (){
      limpiar();

      cambiarf();

    }


</script>




<script>

  function enviarf(){
    document.formulario1.submit()
  }


</script>


<script>


  function cambiara(){
    // document.getElementById("terror").innerHTML="Te cambie"
    for(let i in autoayuda)
    {

      let libro = document.createElement("div");
      libro.style.cssText='float:left; text-align:center';
      //libro.className="tam";
      libro.style="height:40%; width: 30%; float:left;"
      let imagen = document.createElement("img");
      imagen.srcset=autoayuda[i].imagen;
      imagen.style="height:350px; width:250px";

      let titulo = document.createElement("div");
      titulo.textContent=autoayuda[i].titulo;
      titulo.style.cssText='font-weight:bold';

      let precio= document.createElement("p");
      precio.textContent="$"+autoayuda[i].costo;




      const button=document.createElement('button');
      button.type='button';
      button.className="btn btn-primary"
      button.innerText="Detalles";
      button.setAttribute("id","idPrueba");




      libro.appendChild(imagen);
      libro.appendChild(titulo);
      libro.appendChild(precio);
      libro.appendChild(button);
      let ele= document.getElementById("info");
      ele.appendChild(libro);

      button.onclick = function () {
        var comando=i;
        console.log(i);
        comprobador=i;
        var titl=autoayuda[i].titulo;
        console.log(comando)
        //window.location.href = "detalle.html";
       // window.open("detalle.html?comando="+comando);
        var w=window.open("detalle.html");
        w.myvariable= comando;
        w.myvariable2=titl;
        //alert("Elemento agregado al carrito");
       // alert(autoayuda[i].titulo);
       // titula:libro.querySelector(titulo).textContent;
      //  limpiar2();

        /*this.parentElement.removeChild(this);
        limpiar();
        let f=document.createElement("form");
        f.type='button';
        f.className="btn btn-primary"
        f.innerText="Comprar";
        f.setAttribute("id","idPrueba1");



        libro.appendChild(imagen);
        libro.appendChild(titulo);
        libro.appendChild(precio);

       // libro.appendChild(button);

        libro.appendChild(f);
       // f.action = " https://www.paypal.com/cgi-bin/webscr";
       // f.method = "POST"
        //f.submit();

        let ele= document.getElementById("info");
        ele.appendChild(libro);

      //  carrito['titulo']=autoayuda[i].titulo;
        console.log(carrito);
        console.log(autoayuda[i].costo);
        var val=Number(autoayuda[i].costo)
        console.log(val);
        //initPayPalButton(val);
        mostrar(val);

        f.onclick=function(){


        }*/

      };



    }
  }

  document.getElementById("autoayuda").onclick=function (){

    limpiar();
    //limpiar2();
   // limpiar3();
    cambiara();

    console.log(comprobador);
    comprobador=comprobador+0;
    if(comprobador==1)
    {
      console.log('Exitoso');
    }
    else{
      console.log('No Exitoso');
    }



  }
  document.getElementById('button').onclick=function (){
    limpiar();
    //cambiara();
  }


</script>






<div class="container my-5" id="info">
<!-- style="height:60%; width: 50%" -->


</div>

<div id="smart-button-container">
  <div style="text-align: center;">
    <div id="paypal-button-container"></div>
  </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AZTQ3nNGpBTAo3WZRjFR3XOvqJ6DLZeilKP0GZcgKamcRM20ESo7y2dd28VjJqjzHYB8a8qBoVo7MlcW&currency=MXN" data-sdk-integration-source="button-factory"></script>
<script>
  function initPayPalButton(valor) {
    paypal.Buttons({
      style: {
        shape: 'rect',
        color: 'black',
        layout: 'vertical',
        label: 'paypal',

      },

      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{"description":"Libro","amount":{"currency_code":"MXN","value":valor}}]
        });
      },

      onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {

          // Full available details
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

          // Show a success message within this page, e.g.
          const element = document.getElementById('paypal-button-container');
          element.innerHTML = '';
          element.innerHTML = '<h3>Gracias Por Su Compra!</h3>';
         //window.location.href = "index.html";
          //onclick = "return false;"
          //actions.redirect("/VentaLibros/libros.html");
          // Or go to another URL:  actions.redirect('thank_you.html');
          actions.redirect("libros.html");

        });
      },

      onError: function(err) {
        console.log(err);
        const element = document.getElementById('paypal-button-container');
        element.innerHTML = '';
        element.innerHTML = '<h3>Fallo!</h3>';
        actions.redirect("libros.html");
      }
    }).render('#paypal-button-container');
  }
 // initPayPalButton();
</script>


<div>
 <!--<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="7ZP45ADE8JBHU">
    <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
  </form>-->



</div>
<!--
<footer class="text-center bg-light p-3">
  <strong>Librerías Chacon Libros&copy;2021</strong>
</footer>-->

<!--<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>-->
<script src="dist/js/jquery.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="dist/js/jquery-confirm.min.js"></script>
<script src="dist/js/functions.js"></script>
<script src="catalib.js"></script>
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<!--<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>-->

</body>

</html>
